# Measures of Spread

https://www.youtube.com/watch?v=mk8tOD0t8M0

## Range

#### it tells us how much room a distribution takes

### $$range = max - min$$

example:

there is given a sample of random people and we measure their heights:

In [1]:
heights_of_sample_of_random_people = [154, 139, 154, 192, 180, 140, 154, 155, 192]

In [2]:
heights_of_sample_of_random_people.sort()
heights_of_sample_of_random_people

[139, 140, 154, 154, 154, 155, 180, 192, 192]

In [3]:
range_ = max(heights_of_sample_of_random_people) - min(heights_of_sample_of_random_people)
range_

53

## Standard Deviation

#### indicates how close the values in a dataset are to the mean

### $$\sigma=s=\sqrt{\frac{\sum (x_i-\overline{x})^2}{n-1}}$$

example:

let's compute the standard deviation for the following dataset:

In [4]:
x_i = [10, 12, 16, 19, 20]

In [5]:
import pandas as pd

In [6]:
x_i = pd.Series(x_i)

the mean of the dataset:

In [7]:
x_i_mean = x_i.mean()
x_i_mean

15.4

In [8]:
x_i_and_x_mean_difference = x_i - x_i_mean
x_i_and_x_mean_difference

0   -5.4
1   -3.4
2    0.6
3    3.6
4    4.6
dtype: float64

In [9]:
x_i_and_x_mean_difference_squared = x_i_and_x_mean_difference ** 2
x_i_and_x_mean_difference_squared

0    29.16
1    11.56
2     0.36
3    12.96
4    21.16
dtype: float64

let's illustrate our findings:

In [10]:
pd.DataFrame({
    'x_i': x_i,
    'x_i - x_mean': x_i_and_x_mean_difference,
    '(x_i - x_mean)^2': x_i_and_x_mean_difference_squared
})

   x_i  x_i - x_mean  (x_i - x_mean)^2
0   10          -5.4             29.16
1   12          -3.4             11.56
2   16           0.6              0.36
3   19           3.6             12.96
4   20           4.6             21.16

let's compute the standard deviation:

In [11]:
std = (x_i_and_x_mean_difference_squared.sum() / (len(x_i) - 1)) ** 0.5
std

4.33589667773576

or we can use the built-in function:

In [12]:
x_i.std()

4.33589667773576

## Varience

_вЭриенс_

### $$\sigma^2=s^2=\frac{\sum (x_i-\overline{x})^2}{n-1}$$

In [14]:
x_i.std() ** 2

18.8

or we can use the built-in function:

In [13]:
x_i.var()

18.8